@model  LambdaForums.Models.Forum.ForumIndexModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Forums</h1>

    <Table class="table table-hover" id="forumIndexTable">
        <tbody>
            @foreach (var forum in Model.ForumList)
            {
                <tr>

                    <td>
                        <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                            @forum.Name
                        </a>
                    </td>
                    <td>
                        @forum.Description
                    </td>
                </tr>
            }

        </tbody>
    </Table>
</body>
</html>
